<!-- Main container -->
<main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Basic cards
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">

          <div class="card mb-30" *ngFor="let article of articles">
            <div class="row align-items-center h-full">
              <div class="col-12 col-md-2">
                <a href="#"><img [src]="article.imageUrl" alt="Artile image"></a>
              </div>

              <div class="col-12 col-md-10">
                <div class="card-block">
                      <small> {{ article.date.toDateString() }} </small>
                  <h4 class="card-title">{{ article.title }}</h4>
                  <p class="card-text">{{ article.description }}</p>
                  <a class="fw-600 fs-12" routerLink="/article/{{ article.key }}">Read more <i class="fa fa-chevron-right fs-9 pl-8"></i></a>
                </div>
              </div>
            </div>
          </div>


          <nav class="flexbox mt-30">
            <a class="btn btn-white disabled"><i class="ti-arrow-left fs-9 mr-4"></i> Newer</a>
            <a class="btn btn-white" href="#">Older <i class="ti-arrow-right fs-9 ml-4"></i></a>
          </nav>


        </div>
      </section>






    </main>
    <!-- END Main container -->