<!-- Main container -->
<main class="main-content">

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Mission
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section py-150">
        <div class="container">

          <div class="row">
            
            <div class="col-12 col-lg-6 pl-50 pr-80">
              <h2>Our Mission</h2>
              <p class="lead">Energistically transform pandemic manufactured products whereas premier solutions. Compellingly streamline an expanded array of web-readiness rather.</p>

              <br>

              <p>
                <i class="ti-check text-success mr-8"></i>
                <span class="fs-14">Deliver a high quality web design</span>
              </p>

              <p>
                <i class="ti-check text-success mr-8"></i>
                <span class="fs-14">Support our customers once signing a contract</span>
              </p>

              <p>
                <i class="ti-check text-success mr-8"></i>
                <span class="fs-14">Streamline an expanded array of web</span>
              </p>

              <p>
                <i class="ti-check text-success mr-8"></i>
                <span class="fs-14">Pursue web-enabled niche markets with professionals</span>
              </p>
            </div>


            <div class="col-lg-6 hidden-md-down align-self-center">
              <img class="shadow-3" src="assets/img/about-us.jpg" alt="..." data-aos="fade-left" data-aos-duration="1500">
            </div>

          </div>


        </div>
      </section>

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Services
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">
          <header class="section-header">
            <small>What we offer</small>
            <h2>Services</h2>
            <hr>
            <p class="lead">Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization.</p>
          </header>


          <div class="row gap-y">
            
            <div class="col-12 col-md-6 col-xl-4 text-center">
              <p class="fs-50 text-success"><i class="ti-layout"></i></p>
              <h6 class="fw-600 text-uppercase letter-spacing-2 mb-2">Web Design</h6>
              <p>Monotonectally interactive resources competitive. Interactively conceptualize top-line ideas before error-free networks.</p>
            </div>


            <div class="col-12 col-md-6 col-xl-4 text-center">
              <p class="fs-50 text-info"><i class="ti-wordpress"></i></p>
              <h6 class="fw-600 text-uppercase letter-spacing-2 mb-2">Logo Design</h6>
              <p>Monotonectally interactive resources competitive. Interactively conceptualize top-line ideas before error-free networks.</p>
            </div>


            <div class="col-12 col-md-6 col-xl-4 text-center">
              <p class="fs-50 text-dark"><i class="ti-palette"></i></p>
              <h6 class="fw-600 text-uppercase letter-spacing-2 mb-2">Branding</h6>
              <p>Monotonectally interactive resources competitive. Interactively conceptualize top-line ideas before error-free networks.</p>
            </div>


            <div class="col-12 col-md-6 col-xl-4 text-center">
              <p class="fs-50 text-warning"><i class="ti-medall"></i></p>
              <h6 class="fw-600 text-uppercase letter-spacing-2 mb-2">Marketing</h6>
              <p>Monotonectally interactive resources competitive. Interactively conceptualize top-line ideas before error-free networks.</p>
            </div>


            <div class="col-12 col-md-6 col-xl-4 text-center">
              <p class="fs-50 text-danger"><i class="ti-heart"></i></p>
              <h6 class="fw-600 text-uppercase letter-spacing-2 mb-2">Advertising</h6>
              <p>Monotonectally interactive resources competitive. Interactively conceptualize top-line ideas before error-free networks.</p>
            </div>


            <div class="col-12 col-md-6 col-xl-4 text-center">
              <p class="fs-50 text-primary"><i class="ti-headphone-alt"></i></p>
              <h6 class="fw-600 text-uppercase letter-spacing-2 mb-2">Support</h6>
              <p>Monotonectally interactive resources competitive. Interactively conceptualize top-line ideas before error-free networks.</p>
            </div>

          </div>


        </div>
      </section>

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Team
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Team</small>
            <h2>Who We Are</h2>
            <hr>
            <p class="lead">Meet the team working to make customer support simpler for you.</p>
          </header>


          <div class="row gap-y">
            <div class="col-12 col-md-4 team-2">
              <a href="#">
                <img src="assets/img/avatar/1.jpg" alt="...">
              </a>
              <h5>Morgan Guadis</h5>
              <small>Co-Founder & CEO</small>
              <p>Signs you'll a, life itself to in signs seed under fruitful good open behold Our of stars whales forth greater.</p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>


            <div class="col-12 col-md-4 team-2">
              <a href="#">
                <img src="assets/img/avatar/2.jpg" alt="...">
              </a>
              <h5>John Senating</h5>
              <small>Co-Founder & CTO</small>
              <p>So firmament sea them sea. Set saying land signs had the us replenish seed moved rule, place let.</p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>


            <div class="col-12 col-md-4 team-2">
              <a href="#">
                <img src="assets/img/avatar/3.jpg" alt="...">
              </a>
              <h5>Sandi Hormez</h5>
              <small>Director</small>
              <p>Given of living created living fifth him Give heaven made open day, own land hath one him darkness.</p>
              <br>
              <div class="social social-boxed social-rounded social-gray">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </section>
    </main>
    <!-- END Main container -->