<!-- Topbar -->
<nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
      <div class="container">
        
        <div class="topbar-left">
          <button class="topbar-toggler">&#9776;</button>
          <a class="topbar-brand" routerLink="/index.html">
            <img class="logo-default" src="assets/img/logo.png" alt="logo">
            <img class="logo-inverse" src="assets/img/logo-light.png" alt="logo">
          </a>
        </div>


        <div class="topbar-right">
          <ul class="topbar-nav nav">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Samples <i class="fa fa-caret-down"></i></a>
              <div class="nav-submenu">
                <a class="nav-link" routerLink="/demo-helpato.html">Helpato</a>
                <a class="nav-link" routerLink="/demo-trello.html">Trello</a>
                <a class="nav-link" routerLink="/demo-gmail.html">Gmail</a>
                <a class="nav-link" routerLink="/demo-skype.html">Skype</a>
                <a class="nav-link" routerLink="/demo-github.html">GitHub</a>
                <a class="nav-link" routerLink="/demo-app.html">Mobile App</a>
                <a class="nav-link" routerLink="/demo-bootstrap.html">Bootstrap</a>
                <a class="nav-link" routerLink="/demo-slack.html">Slack</a>
                <a class="nav-link" routerLink="/demo-zendesk.html">Zendesk</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->



    <!-- Header -->
    <header class="header header-inverse" style="background-color: #9ac29d">
      <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">

            <h1>Latest Blog Posts</h1>
            <p class="fs-20 opacity-70">Read and get updated on how we progress.</p>

          </div>
        </div>

      </div>
    </header>
    <!-- END Header -->